


.form{
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

#strength{
    display: flex;
}

#grid{
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 30px;
    gap: 20px;
}
#bar1{
    border: 1px solid black;
    grid-column: 1/3;
    grid-row: 1/3;
}
#bar2{
    border: 1px solid blueviolet;
    grid-column: 3/5;
    grid-row: 1/3;
}
#bar3{
    border: 1px solid red;
    grid-column: 5/7;
    grid-row: 1/3;
}
#bar4{
    border: 1px solid rgb(0, 255, 136);
    grid-column: 7/9;
    grid-row: 1/3;
}

