:root{
    --fields-background: #24232b;
    --strength: #18171f;
    --text: #eae9f1;
    --black: #0e0d13;
    --white: #FEFEFE;
    --buttons: #a4ffaf;
    --strong-gray: #56555d;
    --light-gray:#7d7b8a;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--black);
    font-family: "Roboto", sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1{
    color: var(--light-gray);
    font-weight: 400;
    margin: 30px 0px;
    font-size: 19px;
}

span,p,#strength{
    color: var(--text);
}

/* contenedor de la contraseña generada */
.password_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fields-background);
    width: 500px;
    height: 50px;
    padding: 25px;
    margin-bottom: 40px;
}

#generated_password{
    color: var(--strong-gray);
    font-weight: bold;
}

#copy_password_button{
    color: var(--buttons);
    cursor: pointer;
}


/* contenedor de opciones */
.form{
    width: 500px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    background-color: var(--fields-background);

}
#character_length_span{
    color: var(--buttons);
    font-weight: bold;
    font-size: 25px;
}


#strength{
    display: flex;
    background-color: var(--strength);
    color: var(--strong-gray);
    font-weight: bold;
}

#level_span{
    font-size: 15px;
    text-transform: uppercase;
}

#grid{
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 30px;
    gap: 20px;
}
#bar1{
    border: 1px solid var(--white);
    grid-column: 1/3;
    grid-row: 1/3;
}
#bar2{
    border: 1px solid var(--white);
    grid-column: 3/5;
    grid-row: 1/3;
}
#bar3{
    border: 1px solid var(--white);
    grid-column: 5/7;
    grid-row: 1/3;
}
#bar4{
    border: 1px solid var(--white);
    grid-column: 7/9;
    grid-row: 1/3;
}

#generate_btn{
    background-color: var(--buttons);
    color: var(--black);
    border: none;
    font-weight: bold;
    padding: 20px 0px;
}