:root{
    --fields-background: #24232b;
    --strength: #18171f;
    --text: #eae9f1;
    --black: #0e0d13;
    --white: #FEFEFE;
    --buttons: #a4ffaf;
    --strong-gray: #56555d;
    --light-gray:#7d7b8a;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--black);
    font-family: "Roboto", sans-serif;
    
}

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

h1{
    color: var(--light-gray);
    font-weight: 400;
    margin: 30px 0px;
    font-size: 19px;
}
/* color blanco a los siguientes elementos */
span,p,#strength,#character_length_div{
    color: var(--text);
}

/* contenedor de la contrase침a generada */
.password_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fields-background);
    width: 500px;
    height: 80px;
    padding: 25px;
    margin-bottom: 40px;
    font-size: 25px;
}

#generated_password{
    color: var(--strong-gray);
    font-weight: bold;
}

#copy_password_button{
    color: var(--buttons);
    cursor: pointer;
}


/* contenedor de opciones */
.form{
    width: 500px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    background-color: var(--fields-background);

}
#character_length_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
#character_length_span{
    color: var(--buttons);
    font-weight: bold;
    font-size: 25px;
}
#password_range{
    accent-color: var(--buttons);
}

/* Espaciado hacia abajo entre cada input */
input{
    margin-bottom: 20px;
}
/* espacio de la izquierda de cada checkbox del texto */
span{
    padding-left: 18px;
}

/* contenedor de la seguridad de la contrase침a */
#strength{
    /* margin:25px 0px; */
    display: flex;
    background-color: var(--strength);
    color: var(--strong-gray);
    font-weight: bold;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    padding: 20px;
}
/* este dir치 si es very weak, weak, strong, etc */
#level_span{
    font-size: 15px;
    text-transform: uppercase;
}

/* barritas de nivel de fuerza */
#grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 10px;
    gap: 10px;
}
#bar1{
    border: 1px solid var(--white);
    grid-column: 1/3;
    grid-row: 1/3;
}
#bar2{
    border: 1px solid var(--white);
    grid-column: 3/5;
    grid-row: 1/3;
}
#bar3{
    border: 1px solid var(--white);
    grid-column: 5/7;
    grid-row: 1/3;
}
#bar4{
    border: 1px solid var(--white);
    grid-column: 7/9;
    grid-row: 1/3;
}

/* boton de generar la contrase침a */
#generate_btn{
    background-color: var(--buttons);
    color: var(--black);
    border: none;
    font-weight: bold;
    padding: 20px 0px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 25px;
}