:root{
    --main-background: #0e0d13;
    --fields-background: #24232b;
    --text: #eae9f1;
    --white: #FEFEFE;
    --buttons: #a4ffaf;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--main-background);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


span,p,#strength,h1{
    color: var(--text);
}

.password_div{
    display: flex;
    justify-content: space-around;

}




.form{
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

#strength{
    display: flex;
}

#level_span{
    font-size: 15px;
    text-transform: uppercase;
}

#grid{
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 30px;
    gap: 20px;
}
#bar1{
    border: 1px solid var(--white);
    grid-column: 1/3;
    grid-row: 1/3;
}
#bar2{
    border: 1px solid var(--white);
    grid-column: 3/5;
    grid-row: 1/3;
}
#bar3{
    border: 1px solid var(--white);
    grid-column: 5/7;
    grid-row: 1/3;
}
#bar4{
    border: 1px solid var(--white);
    grid-column: 7/9;
    grid-row: 1/3;
}

