/* variables */
:root{

}

/* reset basico */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* main */
.main-container{
    position: absolute;
}


/* seccion para crear una publicacion */

.post-form{
    /* por defecto lo quiero tener oculto para mostrarlo con el boton de crear publicacion */
    /* display: none; */
    z-index: 200;
    position: relative;
}