:root{
    --fuentePrincipal: "Roboto", sans-serif;
    --blanco: #e7e9ea;
    --blanco-hover: #c0c0c0;
    --gris: #71767b;
    --fondo: #000000;
    --eliminar: #f4212e;
    --eliminar-hover:#b61621;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--fuentePrincipal);
    font-size: 62.5%;
}


body{
    background-color: var(--fondo);
    margin-top: 2%;
}

h1{
    font-size: 4rem;
    color: var(--blanco);
    margin-bottom: 2%;
    text-align: center;
}
#formulario{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
}
.label-formulario{
    color: var(--blanco);
    font-size: 2.5rem;
    margin: 15px;
}

#input-nombre,#input-foto{
    color: var(--blanco);
    width: 500px;
    height: 30px;
    text-align: center;
    border: none;
    font-size: 2rem;
    background-color: var(--fondo);

}

#input-comentario{
    color: var(--blanco);
    width: 50rem;
    height: 150px;
    text-align: start;
    border: none;
    background-color: var(--fondo);
    font-size: 2rem;
}



#boton-enviar{
    border-radius: 1rem;
    font-size:1.5rem;
    font-weight: bold;
    align-self: flex-end;
    border: none;
    background-color: var(--blanco);
    border-radius: 100px;
    padding: 8px 20px;
    margin: 2%;
}
#boton-enviar:hover{
    cursor: pointer;
    transition: .10s ease;
    background-color: var(--blanco-hover);
}


.contenedor-comentario{
    display: flex;
    font-size: 3.3rem;
    width: 50%;
    margin: 0 auto;
    border: 1px solid var(--gris);
    padding: 30px 25px;
}
.foto-perfil{
    width: 70px;
    border-radius: 100px;
    margin-right: 20px;
    object-fit: cover;
}


.texto-comentario{
    display: flex;
    flex-direction: column;
}


.contenido-comentario{
    font-size: 2.5rem;
    color: var(--blanco);
}

.usuario-fecha{
    display: flex;
    gap: 10px;
    align-items: center;
}


.nombre-usuario,.fecha-hora{
    color: var(--gris);
    font-size: 1.6rem;
    margin-bottom: 15px;
}


.boton-eliminar{
    margin-left: auto;
    cursor:pointer;
    border: none;
    background-color: var(--fondo);
    color: var(--eliminar);
    font-weight: bold;
    font-size: 1.7rem;
}
.boton-eliminar:hover{
    color: var(--eliminar-hover);
    transition: .20s ease;
}