*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}


body{
    background-color: #000000;
    margin-top: 2%;
}

h1{
    margin-bottom: 2%;
    text-align: center;
}
#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label-formulario{
    font-size: 20px;
    margin: 15px;
}

#nombre{
    width: 300px;
    height: 30px;
    text-align: center;
    border-radius: 30px;
    border: 1px solid gray;
}

#comentario{
    width: 300px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
}